{% load cart_tag %}

<footer class="" style="background-color: #092E5A; padding-top: 10px; padding-bottom: 10px; margin-top: 250px;">
    <div class="container">
      
        
      <div class="row">
        <div class="col-6">
          <div style="margin-left: 200px;">
                <p style=" color: white; font-size: 18px;">You can find us!</p>
                <a href=""><i class="fab fa-facebook mr-3" style="font-size: 18px; color: aliceblue;"></i></a> 
                <a href=""><i class="fab fa-twitter mr-3"style="font-size: 18px; color: aliceblue;"></i></a>
                <a href=""><i class="fab fa-instagram mr-3"style="font-size: 18px; color: aliceblue;"></i></a>
           
               <a href=""><i class="fab fa-linkedin mr-3"style="font-size: 18px; color: aliceblue;"></i></a>
              </div>
        </div>
        <div class="col-6">
          <div style="margin-left: 150px;">
          <i class="fas fa-search-location" style="font-size: 18px; color: aliceblue;"></i> <span style="font-size: 18px; color: aliceblue; margin-left: 5px;">Mojumdari,Sylhet</span>
          <br>
          <i class="fas fa-phone"style="font-size: 18px; color: aliceblue;"></i><span style="font-size: 18px; color: aliceblue; margin-left: 5px;">(+880)1733933859</span>
          <br>
          <i class="fas fa-envelope"style="font-size: 18px; color: aliceblue;"></i><span style="font-size: 18px; color: aliceblue; margin-left: 5px;">abutalhapappu@gmail.com</span>
        </div>
        </div>
      </div>


    </div>

  </footer>
  <div class="bg-success py-2">
    <span style="margin-left: 700px;">&copy; 2021 LPFASHION</span>
        
  </div>  