
{% load cart_tag %}

<nav class="navbar navbar-expand-lg" style="background-color: #092E5A;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'App_Shop:home' %}" style="color: #C50909; font-weight: bold;"><h2>LPFASHION</h2></a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                
                <a href="{% url 'First_App:about' %}" class="nav-link" ><li class="nav-item mr-2 text-light">About</li></a>
                <a href="{% url 'First_App:contact' %}" class="nav-link" ><li class="nav-item mr-2 text-light">Contact</li></a>
            
            {% if request.user.is_authenticated %}
               <a href="{% url 'App_Order:cart' %}" class="nav-link"> 
                   <li class="nav-item">
                        <i class="fa fa-shopping-cart text-light"></i> Cart

                        <span class="badge badge-light">{{ request.user | cart_total }}</span>

                    </li>
                </a>
                
                <li class="nav-item dropdown">

                    <a href="" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >

                        <i class="fas fa-user-tie text-light"></i>
                            {{ request.user.profile.username }}

                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="{% url 'App_Login:profile' %}" class="dropdown-item">Profile</a>
                        
                        <div class="dropdown-driver"></div>
                        <a href="{% url 'App_Login:logout' %}" class="dropdown-item">Logout</a>

                    </div>

                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'App_Login:login' %}" class="btn text-light nav-link">Login</a>

                </li>
                {% endif %}
            </ul>
        </div>


    </div>

</nav>  


